.carrinho-container {
    background-color: #f8f9fa;
}

.card-title {
    font-size: 1.1rem;
}

.card-body {
    padding: 1rem;
}

img.object-fit-cover {
    object-fit: cover;
}

.carrinho-vazio{
    height: 200px;
}

.btn-compra{
    background-color: rgb(255, 115, 0);
    color: white;
    border: none;
}

.btn-compra:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}

.compra-finalizada{
    margin-bottom: 100px;
}

.img-carrinho-vazio{
    height: 200px;
    width: 200px;
    margin-top: 10px;
    object-fit: cover;
}

.btn-remove{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: rgb(255, 255, 255);
    padding: 2px 6px;
    height: 30px;
    width: 30px;
    border-radius: 20px;
    border: 1px solid #000000;
}

.btn-add{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #000000;
    padding: 2px 6px;
    height: 30px;
    width: 30px;
    border-radius: 20px;
}

.icone-carrinho-sub{
    font-size: 15px;
    color: #000000;
    
}

.icone-carrinho-add{
    font-size: 15px;
    color: #ffffff;
}

.card-text span{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.589);
}



