.carrosel-container {
  padding: 10px;
}

.titulo-carrosel {
  font-size: 1.2rem;
  font-weight: 600;
}

.card-produto {
  background-color: #ffffff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 200px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.384);
}

.card-produto img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.info-produto {
  background-color: rgba(255, 255, 255, 0.589);
  color: #000;
  padding: 10px 10px 10px 10px;
  
}

.info-produto p{
  font-size: 12px;
  font-weight: bold;
  color: #000;
}

.info-produto span{
  font-size: 14px;
  font-weight: 400;
  color: #000;
}

.swiper-pagination {
  position: relative !important;
  margin-top: 10px; /* empurra as bolinhas para baixo */
}

.swiper-pagination-bullet{
  background-color: rgb(255, 115, 0) !important; /* cor das bolinhas */
}

.info-produto .rs-span{
  font-size: 10px;
  margin-right: 5px;
  color: rgba(0, 0, 0, 0.589);
}

.swiper-slide {
  padding: 0px 0px 10px 0px; /* Espaço interno para afastar os cards das bordas */
  box-sizing: border-box;
}


@media (min-width: 1024px) {
  .card-produto img {
    height: 140px;
  }
}